<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tamagochi</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>

<body>

<p>
    <a href="">Information</a>
</p>

<p>
    <img src="/static/images/greenfox.png">
</p>




<div th:switch="${tricknumber}">
<div th:case="*" th:text="'This is ' + ${myFox} + ' Currently on salad and water. He knows ' + ${tricknumber} + ' tricks.'"></div>
<div th:case="'false'" th:text="'This is ' + ${myFox} + ' You know no tricks yet, go and learn some!'"></div>
</div>


<h1>Known tricks</h1>
<p>
    write HTML
</p>
<p>
    code in java
</p>


</body>
</html>