<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<table>
    <tr>
        <th class="left-corner">Name</th>
        <th>Money</th>
        <th class="right-corner">Animal</th>
    <tr th:each="animal : ${list}">
        <td th:text="${animal.getName()}"></td>
        <td th:text="${animal.getBalance()}"></td>
        <td th:text="${animal.getAnimalType()}"></td>
    </tr>


</table>
</body>
</html>