<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<table>
    <tr>
        <th class=>Index</th>
        <th class="left-corner">Name</th>
        <th>Money</th>
        <th class="right-corner">Animal</th>
        <th>Condition</th>
    <tr th:each="animal : ${list}" th:switch="${animal.status()}">
        <td th:text="${list.indexOf(animal)}" th:style="${animal.king ? 'color : #FFDF00' : 'color : '}"></td>
        <td th:text="${animal.getName()}" th:style="${animal.king  ? 'color : #FFDF00' : 'color : '}"></td>
        <td th:text="${animal.getBalance()}" th:style="${animal.king  ? 'color : #FFDF00' : 'color : '}"></td>
        <td th:text="${animal.getAnimalType()}" th:style="${animal.king  ? 'color : #FFDF00' : 'color : '}"></td>
        <td th:case="'false'" th:text="'Bad guy'"></td>
        <td th:case="*" th:text="'Good guy'"></td>
    </tr>


</table>
</body>
</html>